@charset "utf-8";
.container-margin {
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.body-bg  {
    background-image: url(url);
    background-color: #1D1D1D;
}
.logos {
    margin-left: 10px;
}
.logo_contain {
    margin-left: 10px;
    margin-bottom: 15px;
}

.text-size {
    font-size: x-large;
}
.text-size02 {
    font-size: large;
}
.card-gap {
    margin-bottom: 10px;
    margin-top: 10px;
}
.art_works{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #E4E4E4;
	
}
.Art-info-text {
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
}
hr.saperate-line {
  border-top: 3px solid #E4E4E4;
}
.Art-line {
    
}

.img-border{
	border: none;
	border-radius: 30px;
	margin-bottom: 10px;
	margin-top:3px;
}

@media (max-width:1199px){
.Art-info-text {
    text-align: center;
}
}

@media (max-width:800px){
	.iframe	{
		width: 390px;
		height: 325px;
	}
}

@media (max-width:400px){
	.iframe	{
		width: 350px;
		height: 230px;
	}
}
